@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-item {
    @apply flex items-center text-gray-400 cursor-pointer mb-5;
}

.sidebar-item p {
    @apply ml-3 transition-all duration-300;
}

.sidebar-item ion-icon {
    @apply transition-all duration-300;
}

.sidebar-item.active ion-icon {
    @apply text-primary-500;
}

.text-berkshireswash-h1 {
    @apply font-berkshireswash text-5xl mb-2;
}

.vl {
    @apply h-12 border-l-2 border-gray-300;
}

.card-image {
    /* @apply left-1/2 -translate-x-1/2; */
    left: 50%;
    transform: translateX(-50%);
}

.card {
    @apply relative min-h-full w-full aspect-[2/3] transition-all duration-500 ease-in-out;
}

.inner-card {
    @apply rounded-xl bg-white mt-10 overflow-hidden flex flex-col pt-16 transition-all duration-500 ease-in-out;
    height: calc(100% - theme('spacing.10'));
}

.card-btn {
    @apply font-bold p-3 border-t-2 border-slate-300 transition-all duration-300;
}

.badge {
    @apply text-sm text-orange-500 px-2 py-1 bg-orange-50 rounded-md mb-2;
}

.star-div {
    @apply flex justify-center items-center text-primary-500 pt-1 pb-4;
}

.star-div ion-icon {
    @apply m-1;
}

.info-div {
    @apply px-4 flex flex-col items-center place-content-between;
}

.info-div p,
.info-div ion-icon {
    @apply font-bold text-2xl leading-none;
}
.info-div span {
    @apply text-sm text-slate-500;
}